button{
    width: 250px;
    height: 80px;
    font-size: 30px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: darkkhaki;
}

.boton-click{
    background-color: darkgoldenrod;
}

.boton-reinicio{
    background-color: goldenrod;
}