.boton-cotainer{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color:darkslategrey ;
    color: beige;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.boton-cotainer:hover{
    background-color: darkcyan;
}

.operador{
    background-color: rgb(88, 141, 112);
}

.operador:hover{
    background-color: darkseagreen;
}